
@{
    ViewData["Title"] = "Sobre";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<h1>Sobre</h1>

<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">Blog de Programação para Web</h5>

        <h6 class="card-subtitle mb-2 text-muted">Disciplina ministrada na Uniron</h6>
        @*<p class="card-text"><small class="text-muted">@item.Categoria.Nome</small></p>*@

        <p class="mt-4">
            O Blog foi desenvolvido com a ideia de servir como exemplo para os alunos de programação para web 5º periodo de Sistemas de Informação
            e Analise e Desenvolvimento de Sistemas. 
        </p>

    </div>
</div>